$serif: 'Cormorant Garamond', serif;
$sans: 'Oswald', sans-serif;

@function black($opacity) {
  @return rgba(0, 0, 0, $opacity);
}

body {
  font-family: $serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 1024px;
}

.flex-columns {
  display: flex;
  flex-direction: columns;

  & > * {
    margin: 0 1rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.page-section {
  &:not(.active) {
    display: none;
  }
}

.btn {
  background: #00a2c9;
  border: none;
  border-radius: 3px;
  color: white;
  font-family: $sans;
  font-size: 1.25rem;
  padding: 0.2rem 2.5rem;
}

header {
  background: asset-url('images/1.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  height: 60vh;
  min-height: 400px;

  nav {
    background: black(0.15);
    padding: 1rem 0;
    ul {
      li {
        color: rgba(255, 255, 255, 0.75);
        display: inline;
        font-family: $sans;
        font-size: 1.1rem;
        margin: 1rem;
        &.active {
          color: white;
        }
      }
    }
  }

  .dot-menu {
    display: none;
  }
}

.subheader {
  height: 8.6rem;
  margin-bottom: 1rem;
  padding: 1rem 0;

  .container {
    border-bottom: 1px solid black(0.15);
    padding-bottom: 1rem;
  }

  .profile-info {
    flex: 3;
    position: relative;

    h1 {
      bottom: 0;
      font-family: $sans;
      font-size: 3rem;
      left: 0;
      position: absolute;
    }

    .profile-picture {
      background-size: cover;
      background-repeat: none;
      border: 6px solid white;
      border-radius: 3px;
      bottom: 3rem + 1;
      height: 200px;
      width: 200px;
      position: absolute;
    }

    .main-btn {
      bottom: 3rem + 1;
      left: 200px + 12;
      margin-left: 1rem;
      margin-bottom: 6px;
      position: absolute;
    }
  }

  .profile-description {
    color: black(0.8);
    flex: 3;
    font-size: 1.25rem;
  }

  .profile-stats {
    flex: 2;
    .profile-stat {
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 1.25rem;
        color: black(0.5);
      }
      p {
        font-weight: bold;
        color: black(0.8);
        font-size: 1.75rem;
      }
    }
  }
}

#profile-section {
  .profile-places {
    flex: 2;

    .profile-place {
      display: flex;
      padding: 1rem 0;

      &:not(:last-child) {
        border-bottom: 1px solid black(0.1);
      }

      .place-picture {
        background-size: cover;
        background-repeat: none;
        height: 160px;
        margin-right: 1rem;
        width: 160px;
      }

      .place-details {
        flex: 1;

        h2 {
          color: black(0.8);
          font-size: 2rem;
          font-weight: bold;
          margin-bottom: 0.4rem;
        }

        b {
          color: black(0.45);
          display: block;
          font-size: 1.33rem;
          margin-bottom: 0.4rem;
        }

        p {
          color: black(0.8);
          font-size: 1.25rem;
        }
      }
    }
  }

  .profile-locations {
    flex: 1;
    p {
      color: black(0.8);
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 0.6rem;
    }
    img {
      width: 100%;
    }
  }
}

footer {
  background: darken(#00a2c9, 30%);
  margin-top: 2rem;
  padding: 2rem;
  p {
    color: white;
    font-size: 1.1rem;
    text-align: center;
  }
}


